definitions.vtl

<h1> All definitions </h1>
<ul>
#foreach ($definition in $definitions)
  <a href="/definitions/$definition.getId()">$definition.getDescription()</a>
#end
</ul>
<a href="/definitions/new">Add New Definition</a>
