index.vtl
<h1>Dictionary Web App</h1>

<p>
  Hello and welcome to the dictionary web app. Here You can add a word, and once a word is added, you can then add a definition for each word. It is also possible to add additional definitions for each word you create.
</p>


<a href="/words">View Word List</a>
<a href="/words/new">Add a New Word</a>
